:root {
  --alink: #0000ee;
  --avisited: #551a8b;
  /* Define your color variables here */
  --lightgray: rgb(220, 220, 220);
  --gray: rgb(150, 150, 150);
  --darkgray: rgb(50, 50, 50);
  --byuiblue: rgb(0, 110, 182);
  --bloo: rgb(0, 36, 110);
  --red: rgb(182, 0, 19);
  --mustard: rgb(182, 163, 0);
  --callout: rgb(230, 243, 254);
  --error: rgb(255, 215, 225);  
  --warning: rgb(255, 255, 225);
  --details: rgb(238, 254, 238);
  /* Define your spacing and border variables here */
  --padd: 0.5rem;
  --bord: 1px solid rgba(0, 0, 0, 0.1);
}

body {
  font: 400 16px / 1.5 Montserrat, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #6e6e6eb2;
}

/* Styles for header, logo, and h1 */
header {
  background-color: rgb(43, 43, 43);
  padding: 30px 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 400px;
  max-height: 300px;
  border-radius: 50%;
}

.logo {
  width: 72px;
  height: auto;
  background-color: var(--byuiblue);
  padding: 12px;
  position: absolute;
  top: -2px;
  right: -2px;
}

h1 {
  color: #fff;
  font-size: 3.0rem;
  margin-left: 100px;
} 

/* Styles for nav and nav span */
nav {
  padding-top: 30px;
  width: fit-content;
  width: -moz-fit-content;
  flex-wrap: wrap;
}

nav span {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--lightgray);
  margin: 0 0.25rem 0.25rem;
  text-align: center;
}

/* Styles for navigation links turned into buttons */
nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 15px;
}

nav ul li {
  margin: 0.5rem 0;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  background-color: var(--byuiblue);
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: var(--navy);
}

nav span a:link,
nav span a:visited,
nav span a:active,
nav span a:focus {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  order: var(--bord);
}

nav span a:hover {
  background-color: var(--byuiblue);
  color: #ffffff;
}

/* Styles for main and card */
main {
  margin: 1.5rem 1rem;
}

.card {
  background-color: rgb(43, 43, 43);
  border: var(--bord);
  padding: var(--padd);
  margin-bottom: 1rem;
  color: white
}

.card h3 {
  color: white;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  margin: 0.5rem 0;
}

.card ul li a {
  display: block;
  padding: 10px 20px;
  background-color: var(--byuiblue);
  color: #fff;
  text-align: center; 
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.card ul li a:hover {
  background-color: var(--navy);
}

/* Styles for footer */
footer {
  border-top: var(--bord);
  font-size: smaller;
  background-color: var(--lightgray);
  padding: 0.5rem;
  text-align: center;
  min-height: 50px;
}

footer p {
  margin: 0 0 0 0.5rem;
}

/* Styles for links and other elements */
a {
  color: black;
}

a:link {
  color: white;
}

a:active {
  color: var(--red);
}
